.right-sidebar{
    float: right;
    width: 23%;
    font-size:13px;
}

.widget{
    box-shadow: 3px 3px 10px rgb(0 0 0/5%),
    -3px -3px -10px rgb(0 0 0/5%);
}

.widget h4{
    background-color: #fbf3d5;
    margin: 0%;
    padding: 15px;
    border:solid 1px #f1e5bc
}

.widget .widget-div1,.widget-div2,.widget-div3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fdf7e2;
    border-right:solid 1px #f1e5bc;
    border-left:solid 1px #f1e5bc;
    border-bottom:solid 1px #f1e5bc;
    padding: 5px;
}

.widget-div1 p{
    margin-top: 0%;
    padding-left: 10px;
}

.widget-div2 p{
    margin-top: 0%;
    padding-left: 10px;
}

.widget-div3 p{
    margin-top: 0%;
    padding-left: 10px;
}

.widget-tags{
    margin-top: 20px;
    box-shadow: 3px 3px 10px rgb(0 0 0/5%),
    -3px -3px -10px rgb(0 0 0/5%);
}

.widget-tags h3{
    margin: 0%;
    padding: 15px;
    background-color: #f8f9f9;
    border: solid 1px #e3e6e8;
}

.widget-tags div{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    border: solid 1px #e3e6e8;
    padding: 10px;
}

.widget-tags-div p{
    padding: 5px;
    background-color: #e1ecf4;
    color: #39739d;
    border-radius: 2px;
}