@import url('https://fonts.googleapis.com/css2?family=Labrada:ital,wght@1,300&family=Nunito:ital@1&family=Open+Sans:ital,wght@0,400;1,600&family=Palanquin&family=Roboto:wght@100;300;400&display=swap');

.question-details{
    width: 75%;
    float: left;
}

.question-details-container-1{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px rgba(0,0,0,0.112);
}

.question-details-container-2{
    display: flex;
}

.question-details-votes{
    padding: 5px 20px 5px 10px;
}

.question-details-votes p{
    margin: 0px;
    text-align: center;
    font-size: 25px;
}

.votes-icon{
    font-size: 40px;
    cursor: pointer;
    color: rgb(206, 203, 203);
}

.votes-icon:active{
    color: #ef8326;
}

.question-details-container-2 .question-body{
    line-height: 22px;
    white-space: pre-line;
}

.question-details-container-2 .question-tags{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.question-details-container-2 .question-tags p,
.post-ans-container p .ans-tags
{
    padding: 5px 5px;
    margin: 3px;
    font-size: 13px;
    border-radius: 2px;
    background-color: #e1ecf4;
    color: #39739d;
    text-decoration: none;
}

.question-action-user{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question-action-user button{
    background-color: transparent;
    border: none;
    padding: 5px 0px;
    margin: 0px 10px 0px 0px;
    text-decoration: none;
    color: #939292;
    cursor: pointer;
    font-size: 14px;
    transform: 0.3s;
}

.question-action-user button:active{
    border-bottom: solid 1px black;
}

.user-link{
    display: flex;
    align-items: center;
}

.user-link div{
    padding-left: 10px;
}

.question-action-user div:nth-child(2) p,
.question-action-user div:nth-child(2) .user-link{
    text-decoration: none;
    font-size: 14px;
    margin: 0%;
}

.ans-tags-div{
    padding-left: 10px;
    text-decoration: none;
    color:#009dff 
}

.post-ans-container form textarea{
    padding: 10px;
    border: solid 1px rgba(0,0,0,0.3);
    font-family: 'Roboto', sans-serif;
    width: calc(100% - 20px);
    resize: vertical;
}

.post-ans-container form .post-ans-btn{
    margin: 20px 0px;
    padding: 10px 10px;
    background-color: #009dff;
    color: white;
    border: solid 1px #009dff;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s all;
}

.display-ans{
    padding-bottom: 20px;
    border-bottom: solid 1px rgba(0,0,0,0.112);
}

.display-ans p{
    font-size: 14px;
    ;line-height: 22px;
    white-space: pre-line;
}

.answer-action-user button{
    background-color: transparent;
    border: none;
    padding: 5px 0px;
    margin: 0px 10px 0px 0px;
    text-decoration: none;
    color: #939292;
    cursor: pointer;
    font-size: 14px;
    transform: 0.3s;
}

.answer-action-user button:active{
    border-bottom: solid 1px black;
}

.answer-action-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answer-action-user div:nth-child(2) p,
.answer-action-user div:nth-child(2) .user-link{
    text-decoration: none;
    font-size: 14px;
    margin: 0%;
}