nav{
    min-height: 50px;
    width: 100%;
    margin: 0% auto;
    border-top: solid 3px #ef8326;
    box-shadow: 0px 1px 5px #00000033;
    z-index: 5;
    top: 0%;
    left:0%;
    background-color: #f8f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    height: 100%;
    min-width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo{
    padding: 5px 25px;
}

.nav-item{
    margin: 3px 3px 3px 3px;
    font-size: small;
    font-weight: 500;
    color: rgb(69,69,69);
    transition: 0.2s;
    text-decoration: none;
}

.nav-btn{
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
}

.nav-item:hover{
    background-color: rgb(226,226,226);
}

.navbar form{
    flex-grow: 1;
    position: relative;
    padding: 0px 12px;

}
.navbar form input{
    width: 90%;
    margin: 0;
    padding: 8px 10px 8px 32px;
    border:solid 1px #0000003e;
    border-radius: 3px;
}

.navbar form .search-icon{
    position: absolute;
    left: 25px;
    top: 8px;
}

.nav-link{
    padding: 5px 13px;
    border: solid 1px blue;
    border-radius: 3px;
    background-color: #e7f8fe;
    position: relative;
}

.nav-link:hover{
    cursor: pointer;
    background-color: #d3e4eb;
}